.card {
    background: white;
    padding: 14px;
    border-radius: 25px;
    border: 2px solid transparent;
    box-shadow: 0 8px 28px rgba(72, 89, 102, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
    transition: border-color 0.3s ease;
}

.card:hover {
    border-color: #6aa5e4;
}

.cardTitle {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    padding-left: 132px;
    font-family: "Lexend", sans-serif;
}

.cardStats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 22px;
}

.leaveStats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 0;
}

.statItem {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 5px;
    margin-bottom: 1px;
    position: relative;
}

.statLabel {
    color: #727272;
    font-size: 14px;
    font-family: "Lexend", sans-serif;
    min-width: 60px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.statValue {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
    text-align: right;
    min-width: 30px;
}

.usedValue {
    color: #2a78cc;
}

.totalValue {
    color: #1f25db;
}

.progressCircle {
    position: relative;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressText {
    font-size: 16px;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
    color: blue;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.card:hover .progressText {
    opacity: 1;
}

.circleProgress {
    fill: none;
    stroke: #3354F4;
    stroke-width: 8;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease;
    stroke-dasharray: 251.3274122871835;
    stroke-dashoffset: 251.3274122871835;
}

.card:hover .circleProgress {
    stroke-dashoffset: calc(251.3274122871835 * (1 - var(--percentage) / 100));
}

.circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.circleBackground {
    fill: none;
    stroke: #F0F0F0;
    stroke-width: 8;
}