.card {
    background: white;
    padding: 14px;
    border-radius: 25px;
    border: 1px solid #6aa5e4;
    box-shadow: 0 8px 28px rgba(72, 89, 102, 0.1);
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.cardTitle {
    margin: 0;
    font-size: 20px;
    color: #333;
    font-weight: 500;
    padding-left: 132px;
    font-family: "Lexend", sans-serif;
}

.cardStats {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.leaveStats {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.statItem {
    display: grid;
    grid-template-columns: 80px 40px; /* Fixed width columns for alignment */
    align-items: center;
    gap: 1px;
    margin-bottom: 1px;
    position: relative;

}

.statLabel {
    color: #727272;
    font-size: 14px;
    font-family: "Lexend", sans-serif;
    min-width: 60px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.statValue {
    color: #333;
    font-size: 14px;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
    text-align: right;
    min-width: 30px;
}
.statValue {
    font-size: 14px;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
    text-align: right;
    min-width: 30px;
}

.remainingValue {
    color: #6a7ee1; /* dark blue */
}

.usedValue {
    color: #2a78cc; /* light blue */
}

.totalValue {
    color: #1f25db; /* black */
}

.progressCircle {
    position: relative;
    min-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progressText {
    position: absolute;
    font-size: 16px;
    font-weight: 500;
    font-family: "Lexend", sans-serif;
    color:blue;
    text-align: center;
}

/* Progress circle styles */
.circle {
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

.circleBackground {
    fill: none;
    stroke: #F0F0F0;
    stroke-width: 8;
}

.circleProgress {
    fill: none;
    stroke: #3354F4;
    stroke-width: 8;
    stroke-linecap: round;
    transition: stroke-dashoffset 0.5s ease;
}
